version: '3.8'
services:
  paper-server:
    image: ${ACR_REGISTRY}/deepknow/deepknow-paper-server:latest
    container_name: paper-server
    environment:
      # [关键] 显式指定 Nacos 地址，不再依赖本地 .env
      - SPRING_CLOUD_NACOS_DISCOVERY_SERVER_ADDR=47.114.90.156:8848
      - SPRING_CLOUD_NACOS_CONFIG_SERVER_ADDR=47.114.90.156:8848
      - SPRING_CLOUD_NACOS_USERNAME=nacos
      - SPRING_CLOUD_NACOS_PASSWORD=nacos
      - SPRING_CLOUD_NACOS_CONFIG_GROUP=DEEPKNOW_GROUP
      # 设置时区
      - TZ=Asia/Shanghai
    ports:
      - "8002:8002"
    restart: always
