version: '3.8'
services:
  paper-server:
    image: ${ACR_REGISTRY}/deepknow/deepknow-paper-server:latest
    container_name: paper-server
    env_file:
      - /etc/deepknow.env
    environment:
      - TZ=Asia/Shanghai
    ports:
      - "8002:8002"
    restart: always